<h1>Home page</h1>
<% @users.each do |user| %><br />
    <%= link_to user.username, user %>
    <%= mail_to user.email, user.email %><br /><hr>
<% end %>
<hr>
<%= link_to "new user", new_user_path %>
    