<h1>Micro reddit user</h1>
<h4>Please "log-in" or create a new user</h4>
<% @users.each do |user| %><br />
    <%= link_to user.username, user %>
    <%= mail_to user.email, user.email %><br /><hr>
<% end %>
<hr>
<%= link_to "new user", new_user_path %>
    